<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>

<h1 id="dos">Conductores</h1>
<h1 id="uno">Conductores</h1>

<a class="opcion2" th:href="@{/conductor/create}">Crear</a>

<table class="conductor-list">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Telefono</th>
        <th>Direccion</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="c : ${conductores}" th:if="${c.id}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nombre}"></td>
        <td th:text="${c.cedula}"></td>
        <td th:text="${c.telefono}"></td>
        <td th:text="${c.direccion}"></td>
        <td>
            <a class="opcion" th:href="@{/conductor/view/{id}(id=${c.id})}">Ver</a>
        </td>
        <td>
            <a class="opcion" th:href="@{/conductor/edit-form/{id}(id=${c.id})}">Editar</a>
        </td>
        <td>
            <form  action="#" th:action="@{/conductor/delete}" th:object="${conductor}" method="post">
                <button class="opcion" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>

</html>